# Ignore thumbnails created by windows
Thumbs.db

# Ignore files build by Visual Studio
*.res
*.aps
*.bak
*.cache
*.exe
*.ilk
*.lastbuildstate
*.lib
*.log
*.ncb
*.obj
*.opensdf
*.pch
*.pdb
*.sbr
*.sdf
*.suo
*.tlb
*.tlh
*.tlog
*.user
*.unsuccessfulbuild
*.vspscc
*~
[Bb]in
[Dd]ebug*/
[Rr]elease*/
[Tt]est[Rr]esult*
_ReSharper*/
obj/
ipch/

# Performance Analyzer
*.vsp
*.psess

# NSIS
*.nsi
